#root {
  margin: 0 auto;
  text-align: center;
}

.app{
  height: 100vh;
  display: flex;
}
.sidebar-head{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  background-color : #a9a9a988;
  
}

.sidebar-body{
  color : black;
  padding: 0.5rem;
  font-size:larger;
  font-weight: 500;
  text-decoration: none;
  
}

.sidebar{
  color : black;
  padding: 0.5rem;
  font-size:large;
  font-weight: 500;
  text-decoration: none;
  
  
}